// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  margin: 10px 0;
  font-size: 28px;
  text-align: center;
}

.contents {
  background-color: white;
  padding: 10px;
  margin-left: 30px;
  width: calc(100% - 60px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  .nothing {
    text-align: center;
    font-size: 14px;
    color: dimgray;
  }

  .order-detail {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 70px);
  }

  .status {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    img {
      width: 65px;
      height: 65px;
    }
  }

  .order_num {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    .number {
      font-size: 18px;
    }
  }

  .detail {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 10px;
    .multiple {
      font-size: 10px;
    }
  }

  .buttons {
    margin-top: 10px;
  }
}

